<%-include("./partials/head.ejs")%>

<p>Editando el producto <%= resultados.nombre %></p>

<form action="/edit/<%=resultados.id%>" method="POST">
    <p>
        <input type="text" value="<%= resultados.nombre %>" class="form-control"  name="nombre" placeholder="Titulo">
    </p>
    <p>
        <input type="text" value="<%= resultados.comentario %>" class="form-control"  name="nombre" placeholder="Titulo">
    <p>
        <input type="file" value="<%= resultados.image %>" name="image" id="">
    </p>

    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

<%- include('partials/footer.ejs') %>