<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>


	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Banner -->
	<div class="banner">
		<img src="/images/fotobanner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Clásicos de todos los tiempos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let index = 0; index < 4; index++) {%>
				<%const element = productos[index];%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%=element.id%>">
							<figure class="product-box_image1">
								<img src="<%=element.imagen%>" alt="blazer">
							</figure>
							<article class="product-box_data">
								<h2><%=element.nombre%></h2>
								<p><%=element.descripcion%></p>
								<p>Comentarios: 4</p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Nuevos Lanzamientos</h2>
			</div>
			<!-- Show the "nuevos" products -->
			<%for (let index = 4; index < 8; index++) {%>
				<%const element = productos[index];%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%=element.id%>">
							<figure class="product-box_image1">
								<img src="<%=element.imagen%>" alt="blazer">
							</figure>
							<article class="product-box_data">
								<h2><%=element.nombre%></h2>
								<p><%=element.descripcion%></p>
								<p>Comentarios: 4</p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>

	<!-- /Más comentados -->


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>

	<!-- /footer -->
</body>

</html>