<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>


	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Banner -->
	<section class="banner">
		<div uk-slideshow="autoplay: true; autoplay-interval: 3000; pause-on-hover: true">
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 7:2.7; animation: fade">
	
				<ul class="uk-slideshow-items">
					<li>
						<img src="images/fotobanner.jpeg" alt="" uk-cover>
					</li>
					<li>
						<img src="images/fotobanner3.jpeg" alt="" uk-cover>
					</li>
					<li>
						<img src="images/fotobanner2.jpeg" alt="" uk-cover>
					</li>

				</ul>
			
				<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
				<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
			
			</div>
			</div>
	   
		</section>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Novedades</h2>
			</div>
			
			<% for(let i=0; i< resultados.length; i+=1){  %>
				
			
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/detalle/<%=resultados[i].id%>">
								<figure class="product-box_image1">
									<img src="<%=resultados[i].image%>" alt="">
								</figure>
								<article class="product-box_data">
									<h2><%=resultados[i].nombre %></h2>
									<p><%=resultados[i].descripcion%></p>
									<p></span>Creado por: <%= resultados[i].usuario.nombre %></span></p>
			
         
								</article>
							</a>
						</section>
					</div>
					<%}%>
			
			
			
			</table>
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper1">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Mas comentados</h2>
			</div>
			
			<% for(let i=0; i< resultados.length; i+=1){  %>
				
			
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/detalle/<%=resultados[i].id%>">
								<figure class="product-box_image1">
									<img src="<%=resultados[i].image%>" alt="">
								</figure>
								<article class="product-box_data">
									<h2><%=resultados[i].nombre %></h2>
									<p><%=resultados[i].descripcion%></p>
									<p></span>Creado por: <%= resultados[i].usuario.nombre %></span></p>
			
         
								</article>
							</a>
						</section>
					</div>
					<%}%>
			
			
			
			</table>
			
		</div>
	</div>
			<!-- Show the "nuevos" products -->
			
		</div>
	</div>

	<!-- /Más comentados -->


	<!-- footer -->
	<%-include("./partials/footer.ejs")%>

	<!-- /footer -->
</body>

</html>