<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>
	
	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->
	
	<!-- product detail -->
	

			
						<div class="container products-wrapper">
							<div class="d-flex align-items-center">
								<h2 class="titulo-producto title"><%=resultados.nombre%></h2> 
								<p class="product-detail-description">
					
									<div class="Agregar">
										<button type="submit">
											<b> <a href="/profile">
												<i class="fas fa-shopping-bag"></i>
												<i>Agregar a mis compras</i>
											</a></b> <br/>
									   </button>
									</div>
								</p>
							</div>
							<div class="product-detail">
								<div class="row">
									<article class="col-12 col-lg-8 product-detail-info">
										<img src="<%=resultados.image%>" alt="" class="product-detail-img">
										<p class="product-detail-description">
											<%=resultados.descripcion%></p>
									</article>
								
									<%for(let i = 0; i<resultados.comentarios.length; i+=1){ %>
										<p class="card-text"></span class="badge bg-info"><%= resultados.comentarios[i].comentario %></span></p>
									<% } %>
								</div>
							</div>
						

	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	
	<!-- /footer -->

</body>	
</html>