<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body background="/images/fotoproducto.jpeg" class="fondo">
	
	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="login">
					<div class="login-triangle"></div>
                    <h2 class="login-header">EDITAR PRODUCTO <%= resultados.nombre %></h2>
                    

<form class="login-container" action="/edit/<%=resultados.id%>" method="POST" enctype="multipart/form-data" >
    <p> Nombre del producto:
        <input type="text"  value="<%= resultados.nombre %>" class="form-control"  name="nombre" placeholder="nombre">
    </p>
    <p> Descripcion breve:
        <input type="text"  value="<%= resultados.descripcion %>" class="form-control"  name="descripcion" placeholder="descripcion"> </p>

        <p><select name="categoria" class="categoria" required>
            <option value="1">Categoría</option>
            <option value="2">Verano</option>
            <option value="3">Invierno</option>
        </select></p>

        <!--ESTO LO DEJO COMENTADO PORQUE LO MODIFIQUE ASI QUEA IGUAL A CUANDO
        SE CREA EL PRODUCTO. NO HABIA FORMULARIO, ESTABA COMO PARA ESCRIBIR ASIQ UE LO 
    MODIFIQUE-->

        <!--<p> temporada:
            <input type="text"  value="<%= resultados.temporada %>" class="form-control"  name="temporada" placeholder="temporada">
        </p>-->

        <p><textarea class="categoria" name="comment" form="usrform"required></textarea> </p>

        <p>
            <input type="text"  value="<%= resultados.lanzamiento %>" class="form-control"  name="lanzamiento" placeholder="lanzamiento">
        </p>

        <p> 
            <input type="file" name="image" id="" required>
        </p>
   

    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

</div>
</h2>
</div>
</div>
<%- include('partials/footer.ejs') %>
</body>

</html>