<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- product detail -->



	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="titulo-producto title"><%=resultados.nombre%></h2>
			<p class="product-detail-description">

				<div class="Agregar">
					<button type="submit">
						<b> <a href="/profile">
								<i class="fas fa-shopping-bag"></i>
								<i>Agregar a mis compras</i>
							</a></b> <br />
					</button>
				</div>
				<% if(locals.user = locals.user){ %>
				<form style="display: inline;" action="/detalle/<%=resultados.id %>" method="POST">
					<button class="btn btn-danger" type="submit">Borrar</button>
				</form> 
				<% } %> 
				
				

			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=resultados.image%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=resultados.descripcion%></p>
						<a class="product-detail-description"
						href="/profile/detalle/<%= resultados.usuario.id %> "> Creado por: <%= resultados.usuario.nombre %> </a>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% resultados.comentario.forEach(comment => { %>
						<article>
							<img src="/images/users/<%= comment.usuario.avatar%> " alt="Foto de usuario">
							<div class="data">
								<p class="user">
									<strong> <a
											href="/profile/detalle/<%= comment.usuario.id %> "><%=comment.usuario.nombre%> <%=comment.usuario.apellido%>: </a>
									</strong>
									<%= comment.comentario %></p>
				</div>
						</article>
						<% }) %>
					

					<form class="form" action="/" method="GET">
						<input id="comentario" type="text" value="" placeholder="Agregar comentario">
						<button id="boton-agregar" type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					</div>
			</div>
		</div>
	</div>

						<!-- footer -->
						<%-include("./partials/footer.ejs")%>

						<!-- /footer -->

</body>

</html>