<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include("./partials/head.ejs")%>

<body background="/images/fondoregister3.jpeg" class="fondo">
	
	<!-- Header -->
	<%-include("./partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="login">
					
					<h2 class="login-header">EDITAR MI PERFIL</h2>
					
					<form class="login-container" action="/profile-edit" method="post">
                        <p>
                            <input type="hidden" placeholder="" name="id" value="<%= resultado.id %>">
                        </p>
                        <p>
                            <input type="text" placeholder="Nombre" name="nombre" value="<%= resultado.nombre %>">
                        </p>
                        <p>
                            <input type="text" placeholder="Apellido" name="apellido" value="<%= resultado.apellido %>">
                        </p>
                        <p>
                            <input type="text" placeholder="Mail" name="mail" value="<%= resultado.mail %>">
                        </p>
                        <p>
                            <input type="number" placeholder="Telefono" name="telefono" value="<%= resultado.telefono %>">
                        </p>
                        <p>
                            <input type="date" placeholder="Fecha" name="fecha" value="<%= resultado.fecha %>">
                        </p>
                        <p>
                            <input type="text" placeholder="Crea un usuario" name="user" value="<%= resultado.user %>">
                        </p>
                        <p>
                            <input type="password" placeholder="Crea una contrase単a" name="contrase単a" >
                        </p>
                        <p>
                            <input type="password" placeholder="Repite la contrase単a" name="contrase単a1" >
                        </p>
                        <p>
                            <input type="file" placeholder="Imagen" name="avatar">
                        </p>
                        <p> 
							<input class="botton" type="submit">
						</p> 
                    </form>
				  </div>
				</div>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	<!-- /footer -->
</body>

</html>