<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include("./partials/head.ejs")%>

<body>
	

	<!-- Header -->
	<%-include("./partials/header.ejs")%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for(let i=0; i< resultados.length; i+=1){  %>
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/detalle/<%=resultados[i].id%>">
							<figure class="product-box_image1">
								<img src="<%=resultados[i].image%>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%=resultados[i].nombre %></h2>
								<p><%=resultados[i].descripcion%></p>
								<p> Creado por: <%=resultados[i].creadopor%></p>
								<p>Comentarios: 4</p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>

	<!-- footer -->
	<%-include("./partials/footer.ejs")%>
	
	<!-- /footer -->
</body>

</html>